server {
    listen 80 default_server;
    listen 443 ssl;
    server_name {{ takt_host_url }};

    ssl_certificate /etc/letsencrypt/live/{{ takt_host_url }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ takt_host_url }}/privkey.pem;
    # ssl_certificate и ssl_certificate_key - необходимые сертификаты
    include /etc/letsencrypt/options-ssl-nginx.conf;
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem;
    # include и ssl_dhparam - дополнительные, рекомендуемые Let's Encrypt, параметры


    location / {
        proxy_pass http://takt-public;
    }
}
