server {
    listen 80 default_server;
    listen 443 ssl;
    server_name {{ takt_host_url }};
    
    #ssl_certificate /etc/ssl/certs/{{ takt_host_url }}.crt;
    #ssl_certificate_key /etc/ssl/private/{{ takt_host_url }}.key;
    
    ssl_certificate /etc/letsencrypt/live/{{ takt_host_url }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ takt_host_url }}/privkey.pem;
    
    location /.well-known/acme-challenge/ {
        root /var/www/certbot;
      }
    
    location / {
        proxy_pass http://takt-public;
    }
}
